<%= form_with(model: session, local: true) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :session_start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, id: :session_end_time %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :session_name %>
  </div>

  <div class="field">
    <%= form.label :track_id %>
    <%= form.text_field :track_id, id: :session_track_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
