<p id="notice"><%= notice %></p>

<h1>Sessions for
  <%= @date %>
</h1>


<table>
  <thead>
  <tr>
    <th>Time Slot</th>
    <% @tracks.each do |_, track_info| %>
      <th><%= track_info[0] %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>

  <!--Populates information row by row -->
  <% @time_slots_with_sessions.sort_by{|k, _| k}.each do |data| %>
    <% time_slot, slot_sessions = data %>
    <tr>
      <td><%= time_slot %></td>

      <!-- iterates through each column within this row -->
      <% @tracks.values.each do |track_info| %>
          <% track_index = track_info[1] %>
          <!-- this is inefficient, todo fix if called out on -->
          <% event = slot_sessions.find{ |slot_session_info| slot_session_info[0] == track_index } %>

          <td><%= event ? event[1] : '' %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<p>Select another date:</p>
<%= form_tag("sessions", method: "get") do %>
  <%= date_field_tag(:view_date, '2015-08-12') %>
  <%= submit_tag("submit") %>
<% end %>